<div class="main">
  <h1>{{ componentTitle }}</h1>
  <label for="addItemInput">What would you like to do today?</label>
    <input
    #newItem
    placeholder="add an item"
    (keyup.enter)="addItems(newItem.value); newItem.value = ''"
    class="lg-text-input"
    id="addItemInput" />
  <button class="btn-primary" (click)="addItems(newItem.value)">Add</button>

  <!-- <ul>
    <!-- The <li> contains an *ngFor, a built-in Angular directive that iterates over the items in the items array. 
    For each item, *ngFor creates a new <li>. The double curly braces that contain item.description instructs 
    Angular to populate each <li> with the text of each item's description. -->
    <!-- <li *ngFor="let item of items">{{item.description}}</li> -->
  <!-- </ul> -->

  <h2>
    {{items.length}}
    <span *ngIf="items.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock>items</ng-template>
  </h2>
  
  <ul>
    <li *ngFor="let i of items">
      <app-item (remove)="remove(i)" [item]="i"></app-item>
    </li>
  </ul>
  
</div>
